<h1>User::Homes#top</h1>
<p>Find me in app/views/user/homes/top.html.erb</p>

<p>ログイン</p>
<%= link_to "利用者新規登録", new_user_registration_path %>
<%= link_to "利用者ログイン", new_user_session_path %>
<%= link_to "利用者ログアウト", destroy_user_session_path, method: :delete %>

<p>管理者ログイン</p>
<%= link_to "管理者ログイン", new_admin_session_path %>


<%= link_to "アバウトページ", about_path %>

<p>userページ</p>
<%= link_to "マイページ", users_my_page_path %>
<%= link_to "退会画面", users_unsubscribe_path %>
<%= link_to "マイページ編集", edit_users_path %>

<p>記事ページ</p>
<%= link_to "記事投稿", new_article_path %>
<%= link_to "記事一覧", articles_path %>
